
    html,body {
      padding: 0px;
      margin: 0px;
      background-color: #c1c4c9;
    }

   /***********************************/
   /*       Search Bar Section       */
   /**********************************/

    #searchBar {
      width: 80%;
      height: 50px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2%;
      margin-bottom: 20px;
    }

    #search {
      width: 75%;
      height: 36px;
      margin-top: 2px;
      margin-left: 2%;
      padding: 5px;
      font-size: 24px;
      text-align: center;
    }

    #searchButton {
      background-color: #4CAF50; /* Green */
      width: 16%;
      border: none;
      height: 50px;
      margin-right: 4%;
      color: white;
      margin-top: 2px;
      padding: 12px 30px 12px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 16px;
      border-radius: 8px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    #searchButton:hover {
      background-color: white;
      color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      border: 1px solid #4CAF50;
    }

   /***********************************/
   /*          Map Section           */
   /**********************************/

    #map {
      position: relative;
      width: 600px;
      height: 500px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      border: 1px solid black;
    }


   /***********************************/
   /*  Output  List Yelp Section     */
   /**********************************/

   table, th, td {
      border: 2px groove black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .table_row {
      background-color: #d84e59;
      color: white;
      font-family: 'Raleway', cursive;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover{
      background-color: white;
      color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

