#search_product{
		margin-bottom: 20px;
	}

	.prod_button {
		background:    #3d85c6;
		background:    -webkit-linear-gradient(#3d85c6, #073763);
		background:    -o-linear-gradient(#3d85c6, #073763);
		background:    linear-gradient(#3d85c6, #073763);
		text-decoration: none;
		border-radius: 5px;
		color:         #fff;
		display:       inline-block;
		padding:       8px 20px;
		font:          normal 700 16px/1 "Open Sans", sans-serif;
		text-align:    center;
		text-shadow:   1px 1px 0 #000;
	}


    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .table_row {
      background-color: #4CAF50;
      color: white;
      font-family: 'Quicksand', cursive;
    }