 html,body {
      padding: 0px;
      margin: 0px;
      background-color: #727272;
    }

   /***********************************/
   /*       Search Bar Styling        */
   /**********************************/

    #searchBar {
      width: 100%;
      height: 50px;
      margin-top: 2%;
      margin-bottom: 20px;
    }

    #search {
      width: 75%;
      height: 36px;
      margin-top: 2px;
      margin-left: 2%;
      padding: 5px;
      font-size: 24px;
      text-align: center;
    }

    #searchButton {
      background-color: #4CAF50; /* Green */
      width: 16%;
      border: none;
      height: 50px;
      margin-right: 4%;
      color: white;
      margin-top: 2px;
      padding: 12px 30px 12px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 16px;
      border-radius: 8px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    #searchButton:hover {
      background-color: white;
      color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      border: 1px solid #4CAF50;
    }


   /***********************************/
   /*  The Output of List of Movies   */
   /**********************************/


    #output {
      position: relative;
      float: left;
      height: auto;
      width: 48%;

    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .table_row {
      background-color: #4CAF50;
      color: white;
      font-family: 'Quicksand', cursive;
      cursor: pointer;
    }

    .table_row:hover{
      background-color: white;
      color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    /***********************************/
   /*     Movie information Section   */
   /**********************************/

    #movieOutput {
      position: relative;
      float: right;
      width: 50%;
      height: auto;
    }

    #movie_poster_image{
      margin-left: 35%;
      height: 250px;
      width: 180px;
    }

    .movie_info_header {
      background-color: #4CAF50;
      color: white;
      font-family: 'Quicksand', sans-serif;
      border: 1px solid black;
      text-align: center;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      border-radius: 10px;
    }

    .movie_info {
      color: white;
      font-size: 20px;
      font-family: 'Quicksand', sans-serif;
    }